<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta http-equiv="Description" content="Friendly Hostility is a webcomic by K. Sandra Fuhr revolving around the lives of Fox and Collin, best friends turned lovers, and their friends and family." />
    <title>Friendly HOSTILITY</title>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  <body>
    <div id="top">
      <div id="menu-left">
        <ul class="menu">
          <li><a href="/">Main</a></li>
          <li><a href="/cast.html">Cast</a></li>
          <li><a href="/store.html">Store</a></li>
          <li><a href="/archive.html">Archive</a></li>
          <li><a href="http://forums.snakewife.com">Forum</a></li>
          <li><a href="http://community.livejournal.com/friendlyhostile/">Commentary</a></li>
        </ul>
      </div>
      <div id="menu-right">
        <ul class="menu">
          <li><a href="/links.html">Links</a></li>
          <li><a href="/cartoonist.html">Cartoonist</a></li>
          <li><a href="/contest.html">Contest</a></li>
        </ul>
      </div>
    </div>
    <div id="banner">
      <script type="text/javascript"><!--
        google_ad_client = "pub-6505714309507357";
        /* FriendlyHostility header */
        google_ad_slot = "5545042576";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
      </script>
      <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <p>Friendly Hostility is &copy; <a href="http://www.snakewife.com">K. Sandra Stanley</a>.
      <p>Do not distribute or copy any part of this site without permission.</p>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-7711978-2");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
