<form name="dropdown">
  <select name="section" id="section_dropdown" onchange='e=document.getElementById("section_dropdown"); document.location.href="/d/" + e.options[e.selectedIndex].value + ".html";'>
    <option value="20040108">Problematic I 1980</option>
    <option value="20040306">Problematic II 1986</option>
    <option value="20040510">Problematic III 1992</option>
    <option value="20040823">Friendly Hostility</option>
    <option value="20040823">&nbsp;&nbsp;Money For Books</option>
    <option value="20040903">&nbsp;&nbsp;Our Very Own Slave</option>
    <option value="20040922">&nbsp;&nbsp;The Education of Bootsie</option>
    <option value="20041008">&nbsp;&nbsp;Fox Inherits the Toaster-Mac</option>
    <option value="20041015">&nbsp;&nbsp;Presidente Sri’Vastra</option>
    <option value="20041029">&nbsp;&nbsp;Bonus Halloween Comic!</option>
    <option value="20041111">&nbsp;&nbsp;Physical and Emotional Injury</option>
    <option value="20041124">&nbsp;&nbsp;Firm Ground to Stand On</option>
    <option value="20041201">&nbsp;&nbsp;Guest Comic by Meaghan!</option>
    <option value="20041203">&nbsp;&nbsp;Don’t You Want A Fantana?</option>
    <option value="20041217">&nbsp;&nbsp;Obligatory-Winter-Holiday Comics</option>
    <option value="20050105">&nbsp;&nbsp;The Kite Incident</option>
    <option value="20050121">&nbsp;&nbsp;Malltalk</option>
    <option value="20050131">&nbsp;&nbsp;Romantic Gift</option>
    <option value="20050216">&nbsp;&nbsp;Bootsie in Band</option>
    <option value="20050304">&nbsp;&nbsp;Not Gonna Take It</option>
    <option value="20050314">&nbsp;&nbsp;Freedom...</option>
    <option value="20050401">&nbsp;&nbsp;...Has Its Price</option>
    <option value="20050406">&nbsp;&nbsp;Things Have Changed</option>
    <option value="20050418">&nbsp;&nbsp;Chaos Theory</option>
    <option value="20050425">&nbsp;&nbsp;What Uncles Are For</option>
    <option value="20050509">&nbsp;&nbsp;The Fridge Demon</option>
    <option value="20050603">&nbsp;&nbsp;Fatima + Fox vs The Hat</option>
    <option value="20050704">&nbsp;&nbsp;At the Beach</option>
    <option value="20050727">&nbsp;&nbsp;Why Don't You Get A Job</option>
    <option value="20050819">&nbsp;&nbsp;Satanism Is Convenient</option>
    <option value="20050829">&nbsp;&nbsp;Her Name Was Fatima</option>
    <option value="20050916">&nbsp;&nbsp;Model Behavior</option>
    <option value="20050928">&nbsp;&nbsp;Fracturing</option>
    <option value="20051028">&nbsp;&nbsp;A Little Chaos</option>
    <option value="20051201">&nbsp;&nbsp;Snow</option>
    <option value="20060102">&nbsp;&nbsp;The G Word</option>
    <option value="20060125">&nbsp;&nbsp;Caring</option>
    <option value="20060201">&nbsp;&nbsp;Gang Wars</option>
    <option value="20060215">&nbsp;&nbsp;Rain On Prom Night</option>
    <option value="20060310">&nbsp;&nbsp;How Padma Met Rafi</option>
    <option value="20060417">&nbsp;&nbsp;Making Friends</option>
    <option value="20060426">&nbsp;&nbsp;Frustration</option>
    <option value="20060508">&nbsp;&nbsp;Sick of Music</option>
    <option value="20060519">&nbsp;&nbsp;The G Word Again</option>
    <option value="20060529">&nbsp;&nbsp;Sketch Week 1</option>
    <option value="20060609">&nbsp;&nbsp;Neapolitan Summer</option>
    <option value="20060904">&nbsp;&nbsp;Filler Weeks</option>
    <option value="20060918">&nbsp;&nbsp;Freshman</option>
    <option value="20061002">&nbsp;&nbsp;Going Gray</option>
    <option value="20061018">&nbsp;&nbsp;The Liberation of Fox</option>
    <option value="20061108">&nbsp;&nbsp;Arath and the Gay Thing</option>
    <option value="20061122">&nbsp;&nbsp;The Daily Warning</option>
    <option value="20061127">&nbsp;&nbsp;Bootsie is Stressed</option>
    <option value="20061206">&nbsp;&nbsp;Second Chances</option>
    <option value="20061220">&nbsp;&nbsp;Maharassas</option>
    <option value="20061229">&nbsp;&nbsp;Dream Jobs</option>
    <option value="20070124">&nbsp;&nbsp;Strange Attractions</option>
    <option value="20070202">&nbsp;&nbsp;Enemy Mine</option>
    <option value="20070302">&nbsp;&nbsp;Stay In School</option>
    <option value="20070312">&nbsp;&nbsp;Being Squidward</option>
    <option value="20070319">&nbsp;&nbsp;Romancing Fatima</option>
    <option value="20070328">&nbsp;&nbsp;1 - Stakeout</option>
    <option value="20070416">&nbsp;&nbsp;1.5 - Invasion</option>
    <option value="20070425">&nbsp;&nbsp;2 - Viva Las Vegas</option>
    <option value="20070525">&nbsp;&nbsp;Doubts</option>
    <option value="20070530">&nbsp;&nbsp;3 - Real Son of a Bitch</option>
    <option value="20070613">&nbsp;&nbsp;4 - Investigatin'</option>
    <option value="20070702">&nbsp;&nbsp;5 - Rescuin'</option>
    <option value="20070806">&nbsp;&nbsp;6 - Patchin' Up</option>
    <option value="20070827">&nbsp;&nbsp;So Much For That</option>
    <option value="20070905">&nbsp;&nbsp;You Can't Fire Me</option>
    <option value="20071001">&nbsp;&nbsp;Fox Come Home</option>
    <option value="20071012">&nbsp;&nbsp;The Last Hurrah</option>
    <option value="20071026">&nbsp;&nbsp;Stoned</option>
    <option value="20071207">&nbsp;&nbsp;Anne</option>
    <option value="20071221">&nbsp;&nbsp;I Can Has Coup?</option>
    <option value="20080109" selected="selected">&nbsp;&nbsp;Devil in a Blue Dress</option>
  </select>
</form>
