<div id="content-left">
  <p class="q">Who're you?</p>
  <p>I'm Sandra. I draw and write this comic. I'm a rogue scientist and fashionista, gayer than a bushel of rainbows, and a big fan of breakfast food at non-breakfast times.</p>
  <p class="q">How do you make the comic? </p>
  <p>Bic mechanical pencils, hybrid gel ink pens, and standard computer paper. I know, hardly sophisticated, is it? Anyway, I'll sketch the comic, ink over it, and scan it. And that's it. That's how the magic happens. Sometimes Suedy's Chocolate Sushi is involved.</p>
  <p class="q">Do you do commissioned artwork?</p>
  <p>Not at this point. Thank you for your interest, though!</p>
  <p class="q">Do you accept donations?</p>
  <p>That is right sweet of you to offer. Donations really help out with my tuition and general living expenses, so yes, I accept them. Contact me for my PayPal address.</p>
  <p class="q">Will you ever go back to the other comic you used to do?</p>
  <p>No plans for it right now, but hey, never say never.</p>
  <p class="q">Do you mind fanart being made about your characters? Or icons/avatars/other graphics being made?</p>
  <p>I don't mind. Fanart is awesome and always makes me happy, but I might not get the chance to put it on the site at this point. Feel free to make graphics of any sort - a link to the comic somewhere would be nice, but as long as you're not claiming the artwork as your own, hey, I have no issue.</p>
</div>
<div id="content-right">
  <p class="ad">
    <script type="text/javascript"><!--
      google_ad_client = "pub-6505714309507357";
      /* FriendlyHostility.com sidebar */
      google_ad_slot = "1005344128";
      google_ad_width = 250;
      google_ad_height = 250;
      //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
    <br /><br />
    <script type="text/javascript"><!--
      google_ad_client = "pub-6505714309507357";
      /* FriendlyHostility.com sidebar 2 */
      google_ad_slot = "6580266549";
      google_ad_width = 250;
      google_ad_height = 250;
      //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
  </p>
</div>
