<div id="content-left">
  <div id="contest">
    <p>So, to celebrate the 500th episode of Friendly Hostility (actually the 550th, as I was busy for the 500th episode and, uh, forgot), there was a contest held known as <b>The Hostile Takeover Contest.</b> I just like typing that in bold. The winner gets a drawing of the character of their choice and a walk-on role in the comic; the two runners up get a drawing of the character of their choice.</p>

    <table>
      <tr>
        <th>First Place</th>
      </tr>
      <tr>
        <td><a href="mailto:flamekistatcomcastdotnet">Carl Andrews</a> made a glass version of Leslie Rudd's pet triffid. How awesome is that? Pretty darn awesome, that's how awesome it is. I cannot stop typing the word &quot;awesome.&quot; Check out more beautiful glasswork at <a href="http://www.flamekist.etsy.com/">his Etsy store.</a></td>
      </tr>
      <tr>
        <td class="center"><img src="/images/contest/carl.andrews_thumb.jpg" alt="contest" /> [<a href="/images/contest/carl.andrews_01.jpg">1</a>] [<a href="/images/contest/carl.andrews_02.jpg">2</a>] [<a href="/images/contest/carl.andrews_03.jpg">3</a>] [<a href="/images/contest/carl.andrews_04.jpg">4</a>] [<a href="/images/contest/carl.andrews_05.jpg">5</a>] [<a href="/images/contest/carl.andrews_06.jpg">6</a>] [<a href="/images/contest/carl.andrews_07.jpg">7</a>] [<a href="/images/contest/carl.andrews_08.jpg">8</a>] [<a href="/images/contest/carl.andrews_09.jpg">9</a>]</td>
      </tr>
    </table>

    <table>
      <tr>
        <th colspan="3">Runners Up</th>
      </tr>
      <tr>
        <td><a href="http://www.cathyboy.com">Cathy Johnson</a> presents us with this stunning picture of Fatima writing a quick note to Amanda. I love all the little details in this drawing, such as the wallpaper and Fatima's underarm hair. :)</div></td>
        <td width="25%">&nbsp;</td>
        <td><a href="mailto:bluntcuddle@hotmail.com">YaoSnoozie</a> made a snow Collin - and then made a comic about a snow Collin being made. See, that's why I thought it was cool.</td>
      </tr>
      <tr>
        <td class="center"><a href="/images/contest/cathy_01.jpg"><img src="/images/contest/cathy_01thumb.jpg" alt="contest" /></a></td>
        <td>&nbsp;</td>
        <td class="center"><a href="/images/contest/bluntcuddle_03.jpg"><img src="/images/contest/bluntcuddle_03thumb.jpg" alt="contest" /></a></td>
      </tr>
    </table>

    <table>
      <tr>
        <th colspan="2">Honorable Mentions</th>
      </tr>
      <tr>
        <td><a href="http://marmotknit.blogspot.com/">Marit fp</a> made sexy nurse cookies for Uncle Rafi. These crack me up everytime I look at them. May not be worksafe, depending on your workplace's policy regarding naughty baking.</td>
        <td><img src="/images/contest/pollma01_thumb.jpg" alt="contest" /> [<a href="/images/contest/pollma01_04.jpg">1</a>] [<a href="/images/contest/pollma01_05.jpg">2</a>] [<a href="/images/contest/pollma01_06.jpg">3</a>]</td>
      </tr>
      <tr>
        <td><a href="mailto:blueleopard87atyahoodotcom">Blueleopard87</a> also made a cookie that Uncle Rafi would enjoy.</td>
        <td><img src="/images/contest/blueleopard87_thumb.jpg" alt="contest" /> [<a href="/images/contest/blueleopard87_01.jpg">1</a>] [<a href="/images/contest/blueleopard87_02.jpg">2</a>] [<a href="/images/contest/blueleopard87_03.jpg">3</a>] [<a href="/images/contest/blueleopard87_04.jpg">4</a>]</td>
      </tr>
      <tr>
        <td>You know that strip where Derringer compared the staff of the Daily Warning to Spongebob characters? <a href="http://queen-of-rainbows.deviantart.com/">Catrina</a> has drawn upon that to create this. Fox as Squidward still makes me giggle.</td>
        <td><a href="/images/contest/drowning_in_cyanide_2.jpg"><img src="/images/contest/drowning_in_cyanide_thumb.jpg" alt="contest" /></a></td>
      </tr>
      <tr>
        <td>How do you follow up nurse cookies for Rafi? A hat for Padma, of course. <a href="http://marmotknit.blogspot.com/">Marit fp</a> made the hat, in both evil and non-evil (well, &quot;sleeping evil&quot;) modes.</td>
        <td><img src="/images/contest/pollma02_thumb.jpg" alt="contest" /> [<a href="/images/contest/pollma01_01.jpg">1</a>] [<a href="/images/contest/pollma01_02.jpg">2</a>] [<a href="/images/contest/pollma01_03.jpg">3</a>]</td>
      </tr>
      <tr>
        <td>I am a sucker for drawings of Fatima in Alaska. <a href="http://flynn-the-cat.deviantart.com">Flynn</a> figured this out.</td>
        <td><a href="/images/contest/watchingthethreads_01.png"><img src="/images/contest/watchingthethreads_thumb.png" alt="contest" /></a></td>
      </tr>
      <tr>
        <td>You know <a href="http://www.cathyboy.com">Cathy</a>, the runner up who drew Fatima? Cathy also made Derringer's &quot;Hello!&quot; sunshine shirt.</td>
        <td><img src="/images/contest/cathy_02thumb.jpg" alt="contest" /> [<a href="/images/contest/cathy_02.jpg">1</a>] [<a href="/images/contest/cathy_03.jpg">2</a>] [<a href="/images/contest/cathy_04.jpg">3</a>]</td>
      </tr>
      <tr>
        <td><a href="http://obey-the-soapbubble.deviantart.com">Iona C.</a> drew Padma and Rafi in <i>space</i>. What more could a person want?</td>
        <td><a href="/images/contest/obey_the_soapbubble_01.jpg"><img src="/images/contest/obey_the_soapbubble_thumb.jpg" alt="contest" /></a></td>
      </tr>
      <tr>
        <td>I spoke too soon. You could want evidence of <a href="http://hidden-easel.livejournal.com/246182.html">Elliot R. Bun's visist to Houston, Texas</a>, courtesy of Jill E.</td>
        <td><a href="http://hidden-easel.livejournal.com/246182.html">Elliot in Houston.</a></td>
      </tr>
      <tr>
        <td><a href="http://neppa.deviantart.com/">Kate Bresnahan</a> made this drawing of Derringer and his faithful companion.</td>
        <td><a href="/images/contest/katebresnahan_01.jpg"><img src="/images/contest/katebresnahan_thumb.jpg" alt="contest" /></a></td>
      </tr>
      <tr>
        <td>I'd like to say that the moodiness of this piece won me over, but if I'm being honest, it's all about the &quot;Rub a Dub Dub, Bears in a Tub&quot; in the background of panel one. The rest is good, too, though so <a href="http://sixfuzzyslippers.deviantart.com/">Kaiti</a> should feel pretty darn good about it.</td>
        <td><a href="/images/contest/katherine.r.johnson_01.jpg"><img src="/images/contest/katherine.r.johnson_thumb.jpg" alt="contest" /></a></td>
      </tr>
      <tr>
        <td>Know what I said about how I like drawings of Fatima in Alaska? <a href="mailto:redpaws@earthlink.com">Mike</a> figured this out, too. I like the feel to this piece.</td>
        <td><a href="/images/contest/redpaws_01.jpg"><img src="/images/contest/redpaws_thumb.jpg" alt="contest" /></a></td>
      </tr>
      <tr>
        <td><a href="http://community.livejournal.com/craftbitchesftw/3005.html">Paxie knit an Elliot</a> and took photos of him with her cat and her action figures.</td>
        <td><a href="http://community.livejournal.com/craftbitchesftw/3005.html">Knit Elliot is knit.</a></td>
      </tr>
      <tr>
        <td>You might know Maritza Campos' work from <a href="CRFH.net%20">CRFH</a>; now, she sends this drawing of Fox and Collin. Thank you, Maritza!</td>
        <td><a href="/images/contest/maritza_1.jpg"><img src="/images/contest/maritza_thumb.jpg" alt="contest" /></a></td>
      </tr>
      <tr>
        <td><a href="mailto:inkwood36atgmaildotcom">Tarrin</a> made a series of lovely necklaces for the ladies of FH.</td>
        <td>
          <table>
            <tr>
              <td><img src="/images/contest/inkwood36_thumb.jpg" alt="contest" /></td>
              <td>[<a href="/images/contest/inkwood36_02.jpg">Charlotte</a>]</td>
              <td>[<a href="/images/contest/inkwood36_04.jpg">Sofia</a>]</td>
            </tr>
            <tr>
              <td>[<a href="/images/contest/inkwood36_05.jpg">Kitty</a>]</td>
              <td>[<a href="/images/contest/inkwood36_03.jpg">Nefertari</a>]</td>
              <td>[<a href="/images/contest/inkwood36_01.jpg">Bootsie/Anne</a>]</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>I'm a hard sell when it comes to fanfic about my own characters. So what does it take to get me to like a fanfic? Zombies. Hit the nail on the head there, <a href="mailto:slob.childatgmaildotcom">Slob Child.</a></td>
        <td><a href="http://slob-child.livejournal.com/13477.html">Slob child's fanfic</a></td>
      </tr>
      <tr>
        <td><a href="mailto:loveless_belovedathotmaildotcom">Renee C</a> wrote a sweet poem about enjoying the comic.</td>
        <td><a href="/images/contest/loveless_beloved.txt">Renee's poem.</a></td>
      </tr>
    </table>
  </div>
</div>
<div id="content-right">
  <p class="ad">
    <script type="text/javascript"><!--
      google_ad_client = "pub-6505714309507357";
      /* FriendlyHostility.com sidebar */
      google_ad_slot = "1005344128";
      google_ad_width = 250;
      google_ad_height = 250;
      //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
    <br /><br />
    <script type="text/javascript"><!--
      google_ad_client = "pub-6505714309507357";
      /* FriendlyHostility.com sidebar 2 */
      google_ad_slot = "6580266549";
      google_ad_width = 250;
      google_ad_height = 250;
      //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
  </p>
</div>
