<div id="content-left">
  <div id="links">
    <strong>Other Comics To Read:</strong>
    <ul>
      <li><a href="http://www.otherpeoplesbusiness.net" class="link">Other People's Business</a>FH's spiritual successor, if you will. A must-read for FH fans!</li>
      <li><a href="http://www.5ideways.com" class="link">5ideways</a>This is my other comic. Very much unlike FH, currently on hiatus.</li>
      <li><a href="http://www.banishedonline.com/" class="link">Banished!</a> Science fiction comedy. Always guaranteed to be funny.</li>
      <li><a href="http://pennyandaggie.com/" class="link">Penny &amp; Aggie</a> Clever writing, beautiful art. Wins on all counts.</li>
      <li><a href="http://www.elfonlyinn.net/" class="link">Elf Only Inn</a> It's updating again! Yay. Roleplaying hilarity abounds.</li>
      <li><a href="http://scandalsheet.keenspace.com/" class="link">Scandal Sheet</a> This comic is far more clever than any summary I can give for it.</li>
      <li><a href="http://www.forthewicked.net/" class="link">No Rest for the Wicked</a> Once upon a time made genuinely creepy.</li>
      <li><a href="http://www.gunnerkrigg.com/index2.php" class="link">Gunnerkrigg Court</a> Jaw-droppingly amazing art, spooky little story.</li>
    </ul>
    <br />
    <strong>Other Things You Could Check Out If You Like Friendly Hostility:</strong>
    <ul>
      <li><a href="http://forums.snakewife.com" class="link">The Snakewife's Forum</a> The official forum for FH, <a href="http://www.otherpeoplesbusiness.net">OPB</a> and <a href="http://www.5ideways.com">5ideways</a>. We friendly hostiles have lots of fun there. Come join us!</li>
      <li><a href="http://fan.geekish.net/friendlyhostility/" class="link">Yum Yum Baby: The FH Fanlisting</a> The place for fans of Friendly Hostility to, uh, list themselves. :)</li>
      <li><a href="http://community.livejournal.com/la_concordia" class="link">La Concordia</a> My online gallery, such as it is. I post art, comics, random things. If you only want to see FH related things, then click <a href="http://community.livejournal.com/la_concordia/tag/friendly+hostility">here.</a></li>
      <li><a href="http://elisa.buhfly.com" class="link">Territorial</a> <del>Gay porn.</del> M/M erotica written by Elisa Viperas. Please only visit if you're of legal age.</li>
    </ul>
  </div>
</div>
<div id="content-right">
  <p class="ad">
    <script type="text/javascript"><!--
      google_ad_client = "pub-6505714309507357";
      /* FriendlyHostility.com sidebar */
      google_ad_slot = "1005344128";
      google_ad_width = 250;
      google_ad_height = 250;
      //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
  </p>
</div>
